@model BaoCaoCK_QLCuDan.Models.CuDan

@{
    ViewBag.Title = "Cập nhật thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header bg-primary text-white">
        <h3 class="card-title mb-0">Cập nhật thông tin cư dân</h3>
    </div>

    @using (Html.BeginForm("Edit", "CuDan", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MaCuDan)
        @Html.HiddenFor(model => model.Avatar) <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-primary border-bottom pb-2">I. Thông tin cơ bản</h5>

                    <div class="form-group">
                        <label>Họ và tên</label>
                        @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        <label>Số điện thoại</label>
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="col-md-6">
                    <h5 class="text-primary border-bottom pb-2">II. Trình độ & Chính trị</h5>

                    <div class="form-group">
                        <label>Trình độ học vấn</label>
                        @Html.EditorFor(model => model.TrinhDoHocVan, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        <label>Ngày vào Đảng</label>
                        @Html.EditorFor(model => model.NgayVaoDang, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    </div>
                    <div class="form-group">
                        <label>Ngày vào Đoàn</label>
                        @Html.EditorFor(model => model.NgayVaoDoan, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <h5 class="text-primary border-bottom pb-2">III. Đặc điểm nhận dạng</h5>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Chiều cao</label>
                        @Html.EditorFor(model => model.NhanDang_Cao, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sống mũi</label>
                        @Html.EditorFor(model => model.NhanDang_SongMui, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Dấu vết đặc biệt</label>
                        @Html.EditorFor(model => model.DauVetDacBiet, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <label>Ảnh đại diện</label><br />
            <img src="@(string.IsNullOrEmpty(Model.Avatar) ? "/Content/Images/default.jpg" : Model.Avatar)"
                 style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; border: 1px solid #ddd; margin-bottom: 10px;" />

            <input type="file" name="ImageFile" class="form-control-file" />

            @Html.HiddenFor(model => model.Avatar)
        </div>
        <div class="card-footer text-right">
            <a href="/CuDan/Details/@Model.MaCuDan" class="btn btn-secondary">Quay lại</a>
            <button type="submit" class="btn btn-primary">Lưu thông tin</button>
        </div>
    }
</div>